.project-container {
    background-color: #eaedf7;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .project-container h3 {
    font-size: 24px;
    margin-top: 0;
  }
  
  .project-container p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .links {
    display: flex;
    justify-content: space-between;
  }
  
  .links a {
    color: #0077cc;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  .links a:hover {
    color: #004499;
  }
  