form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  textarea {
    height: 150px;
    resize: vertical;
  }
  
  button[type="submit"] {
    background-color: #8345c5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-end;
    width: auto;
  }
  
  button[type="submit"]:hover {
    background-color: #7016d1;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  